@model BaskifyClient.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Change Password</h5>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("updatePassword", "Account", FormMethod.Post, new { @id = "PasswordForm" }))
            {
                @Html.AntiForgeryToken()
                
                if (!Model.reset)
                {
                    <div>
                        @Html.AntiForgeryToken()
                        @Html.LabelFor(Model => Model.CurrentPassword)
                        @Html.TextBoxFor(Model => Model.CurrentPassword, new { @placeholder = "Current Password", @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(Model => Model.CurrentPassword)
                    </div>
                }
                <div>
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(Model => Model.NewPassword)
                    @Html.TextBoxFor(Model => Model.NewPassword, new { @placeholder = "New Password", @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(Model => Model.NewPassword)
                </div>
                <div>
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(Model => Model.VerifyPassword)
                    @Html.TextBoxFor(Model => Model.VerifyPassword, new { @placeholder = "Confirm Password", @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(Model => Model.VerifyPassword)
                </div>
                <button id="PasswordButton" type="submit" class="btn btn-primary">Change Password</button>
            }
        </div>
    </div>
</div>
<script>window.history.replaceState(null, "", '/account/changepassword');</script>
