@model baskifyCore.ViewModels.ForgotPasswordViewModel

@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.lux.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <nav class="navigationBar">
        <a class="navigationBarBrand navBarElement" href="/">Baskify</a>
    </nav>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-hide="alert">&times;</button>
        <h4 class="alert-heading">Please Enter Username or Email!</h4>
        <p class="mb-0">
            @if (ViewData["Alert"] != null)
            {
                <text>@ViewData["Alert"]</text>
            }

        </p>
    </div>

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recover Password</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("sendRecoveryEmail", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div id="userNameInput" style="display: none;">
                        @Html.AntiForgeryToken()
                        @Html.LabelFor(Model => Model.Username)
                        @Html.TextBoxFor(Model => Model.Username, new { @placeholder = "Username", @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.Username)
                    </div>
                    <div id="EmailInput">
                        @Html.AntiForgeryToken()
                        @Html.LabelFor(Model => Model.Email)
                        @Html.TextBoxFor(Model => Model.Email, new { @placeholder = "Recovery Email", @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.Email)
                    </div>
                    <div class="custom-control custom-switch" style="margin-bottom: 10px; margin-top: 10px;">
                        @Html.CheckBoxFor(Model => Model.isEmailValidation, new { @class="custom-control-input", @checked="", @onchange="toggleInput()" })
                        <label class="custom-control-label" for="isEmailValidation">Toggle Username/Email</label>
                    </div>
                    <button id="sendButton" type="submit" class="btn btn-primary">Send Recovery Email</button>
                   }
            </div>
        </div>
    </div>
    <script>
        function toggleInput() {//checked is email
            if ($("#isEmailValidation").prop("checked") == true) {
                $("#userNameInput").animate({ opacity: 0 }, 1000, "linear", function () {
                    $("#userNameInput").css("display", "none");
                    $("#EmailInput").css("display", "block");
                    $("#EmailInput").animate({ opacity: 1 }, 1000, "linear")
                });
            }
            else {//unchecked is username
                $("#EmailInput").animate({ opacity: 0 }, 1000, "linear", function () {
                    $("#EmailInput").css("display", "none");
                    $("#userNameInput").css("display", "block");
                    $("#userNameInput").animate({ opacity: 1 }, 1000, "linear")
                });
            }
        }
        $(function () { toggleInput() }); //make sure in right window
        window.history.replaceState(null, "", '/account/forgotpassword');
    </script>
</body>
</html>
