@model AuctionModel
@{
    ViewData["Title"] = Model.Title;
    var fundraisingTotals = new baskifyCore.DTOs.FundraisingTotalsDto(Model);
}

<script src="~/js/moment-with-locales.js"></script>
<script src="~/Chart/Chart.bundle.min.js"></script>
<script src="~/galleria/galleria.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.4/css/responsive.dataTables.min.css" />
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.4/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/tracking.css" />
<script src="~/js/tracking.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=@baskifyCore.Utilities.AuctionUtilities.getGoogleAPI()" defer></script>

<style>
    [readonly], [disabled] {
        background-image: url(/Content/lock.svg);
        background-size: 20px 39px;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        padding-right: 15px;
        opacity: 0.7 !important;
        background-color: #eceeef !important;
    }
</style>

<div id="basketDataModal" class="modal">
</div>

<div id="payoutModal" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div style="font-size: 120%; width: 100%;font-weight: bold;text-align: center;margin-bottom: 10px;">Payout succeeded! You can view your balance any time at: </div>
                    <img src="~/Content/stripeLogo.svg" onclick="viewStripeAccount()" style="height: auto;width: 65%;cursor: pointer;display: block;border: 1px solid rgba(0,0,0,.3);margin: auto;border-radius: 14px;background: rgba(0,0,0,.04);" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="error-alert" class="alert alert-dismissible alert-warning" style="margin-bottom: 0; display: none">
    <button type="button" class="close" data-hide="alert">&times;</button>
    <h4 class="alert-heading">Error!</h4>
    <p class="mb-0"></p>
</div>

<style>
    .TrackingContainer, .trackingEditor, .disputeEditor {
        border-top-right-radius: unset;
        border-top-left-radius: unset;
    }
    .basketPersonInfo:not(.round) {
        border-bottom: unset;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }
</style>
<div id="accountSettings">
    <div id="accountSettingContainer">
        <div id="auctionAddLink" class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-hide="alert">&times;</button>
            <span>This auction has completed!</span>
        </div>
        <div class="goBack">Back to <a href="/auctions">Auctions</a></div>

        @if (!String.IsNullOrWhiteSpace(Model.BannerImageUrl))
        {
            <img class="AuctionBannerImage" src="@Model.BannerImageUrl" />
        }

    <ul class="nav nav-tabs" id="AuctionNavTabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#auctionInfo">Auction Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#baskets">Baskets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#performance">Performance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#payout">Payout</a>
        </li>
    </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="auctionInfo">
                @using (Html.BeginForm("editAuction", "auctions", FormMethod.Post, new { @id = "auctionInfoForm", enctype = "multipart/form-data" }))
                {
                <fieldset>
                    <legend>Auction Information</legend>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Title)
                        @Html.TextBoxFor(Model => Model.Title, null, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Description)
                        @Html.TextAreaFor(Model => Model.Description, 5, 50, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="alert alert-dismissible alert-info">
                        This auction's revenue fee was @Model.FeePerTrans cents per transaction plus @Model.FeePercentage%.
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.DeliveryType)
                        @Html.DropDownListFor(Model => Model.DeliveryType, Html.GetEnumSelectList<DeliveryTypes>(), "Select Delivery Type", new { @disabled = "disabled", @class = "custom-select" })
                    </div>
                    @if (Model.DeliveryType == DeliveryTypes.Pickup || Model.DeliveryType == DeliveryTypes.DeliveryByOrg)
                    {
                        <div id="basketRetrievalGroup" class="form-group">
                            @Html.LabelFor(Model => Model.BasketRetrieval)
                            @Html.DropDownListFor(Model => Model.BasketRetrieval, Html.GetEnumSelectList<BasketRetrieval>(), "Select Retrieval Type", new { @disabled = "disabled", @class = "custom-select" })
                        </div>
                    }
                    <div class="form-group">
                        @Html.Label("Auction Start Date")
                        @Html.TextBoxFor(Model => Model.StartTime, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Auction End Date")
                        @Html.TextBoxFor(Model => Model.EndTime, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.TicketCost)
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            @Html.TextBoxFor(Model => Model.TicketCost, null, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.MinPurchase)
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            @Html.TextBoxFor(Model => Model.MinPurchase, null, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.Address)
                        @Html.TextBoxFor(Model => Model.Address, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.City)
                        @Html.TextBoxFor(Model => Model.City, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.State)
                        @Html.TextBoxFor(Model => Model.State, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.ZIP)
                        @Html.TextBoxFor(Model => Model.ZIP, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                    @if (Model.InZIPModels != null && Model.InZIPModels.Count > 0)
                    {
                        <div class="form-group">
                            @Html.LabelFor(Model => Model.InZIPModels)
                            <div style="height:112px; background-color:#eceeef !important; opacity: 0.7;overflow: auto; color: #919aa1;width:100%; padding: 6px; padding-right:25px" disabled>
                                @foreach (var ZIPModel in Model.InZIPModels)
                                {
                                    <div>@($"{ZIPModel.ZIP} ({ZIPModel.City}, {ZIPModel.State})")</div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Counties)
                            <div style="height:112px; background-color:#eceeef !important; opacity: 0.7;overflow: auto; color: #919aa1;width:100%; padding: 6px; padding-right:25px" disabled>
                                @foreach (var county in Model.TargetCounties)
                                {
                                    <div>@($"{county.CountyName}, {county.StateName}")</div>
                                }
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.MaxRange)
                        @Html.HiddenFor(Model => Model.MaxRange)
                        <input class="form-control" value="@Model.MaxRange miles" readonly />
                    </div>
                    <div id="userAddressMap"></div>

                    @Html.HiddenFor(Model => Model.AuctionId)
                    @Html.HiddenFor(Model => Model.HostUsername)
                </fieldset>
                }
            </div>
            <div class="tab-pane fade" id="baskets" style="overflow-x: hidden;">
                @if (!Model.isDrawn && Model.Baskets.Count(b => !b.Draft && b.AcceptedByOrg) > 0)
                {
                    <button id="drawAuctionButton" style="position:relative; width:100%; height:5vh; bottom:0px; z-index:50" class="btn btn-success" onclick="drawAuction()">Draw Winners</button>
                }
                <div style="float:right; padding-right:30px"><a href="/auctions/basketReport/@Model.AuctionId">Download Report (.csv)</a></div>
                <table id="basketTable" class="table table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Info</th>
                            <th>Basket Name</th>
                            <th>Winner</th>
                            <th>Tickets Entered</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="performance" class="tab-pane fade maxWidthContainer">
                <div id="chartContainer" style="width:100%; height:50vh; position:relative;">
                    <canvas id="salesChart"></canvas>
                </div>
                <div class="currentTotals" style="
                    border-top: 1px solid rgba(0,0,0,.2);
                    border-bottom: 1px solid rgba(0,0,0,.2);
                    font-size: 166%;
                    margin-bottom: 11px;
                ">
                    <div style="text-align: center;">
                        <span style="padding-right: 4px;">Total Fundraised:</span>
                        <span style="padding-right: 2px;">$@fundraisingTotals.TotalFundraised.ToString("N2")</span>
                        <span class="text-muted" style="font-size: 56%; height: auto;">
                            (less $@fundraisingTotals.Fees.ToString("N2") in fees)
                        </span>
                    </div>
                </div>
                <table id="salesTable" class="table table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Info</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>User</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="payout" class="tab-pane fade maxWidthContainer">
                <div class="alert alert-dismissible alert-info payoutAlert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span>Auctions payout to you as people donate, you do not need to worry about requesting a payout! Consult your <a href="javascript:viewStripeAccount()">Stripe account</a> to see payouts.</span>
                </div>
                <div id="auctionPayoutReqContainer">
                    <h2 style="text-align: left; width:70%">Statistics</h2>
                    <table class="fundraisedTable table">
                        <tbody>
                            <tr>
                                <td>Total Fundraised</td>
                                <td>$@fundraisingTotals.TotalFundraised</td>
                            </tr>
                            <tr>
                                <td>Total Fees: </td>
                                <td>$@fundraisingTotals.Fees <img style="height: 12px" src="~/Content/question.svg" data-toggle="payoutTooltip" data-placement="top" title="Baskify levies a fee of @Model.FeePercentage% plus @Model.FeePerTrans cents per transaction for this auction."></td>
                            </tr>
                            <tr class="netRaised">
                                <td>Net Fundraised: </td>
                                <td>$@fundraisingTotals.NetFundraised</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="basketDetailsModal" style="position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    left: 0;
    z-index: 333;
    right: 0;
    top: 0;
    bottom: 0;
    display:none;">
</div>
<script>

    function viewStripeAccount() {
        //get link
        $("#PageLoadingModal").css("display", "flex"); //display loading
        $.ajax({
            url: "/api/stripe/getDashboardUrl",
            method: "get",
            beforeSend: function (xhr) { //add token
                var token = getCookie("BearerToken");
                if (token != "")
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
            },
            success: function (data) {
                redirect(data); //redirect to stripe link returned by server
                $("#PageLoadingModal").css("display", "none"); //display loading
            },
            error: function () {
                $("#PageLoadingModal").css("display", "none"); //display loading
            }
        });
    }

    var ServiceRadius;
    var map;
    var marker;
    function initMap() {
        // Create the map.
        var initCoords = { lat: @Model.Latitude, lng: @Model.Longitude };

        map = new google.maps.Map(document.getElementById('userAddressMap'), {
            zoom: 10,
            center: initCoords,
            mapTypeId: 'terrain'
        });

        marker = new google.maps.Marker({
            position: initCoords,
            map: map,
            title: 'Your Organization'
        });

        ServiceRadius = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: initCoords,
            radius: @Model.MaxRange * 1609.34 //mile to meter conversion
        });
    }

    var basketTable = $("#basketTable");

    $(document).ready(function () {
        $("[data-toggle=payoutTooltip]").tooltip();
        initMap();
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) { //when tab is fully visible
            var table = $(".table").DataTable();
            table.draw(); //redraw to avoid issues
            table.responsive.recalc(); //recalculate width for responsiveness
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
        $("#AuctionNavTabs a").removeClass("active");
        $('a[href="' + activeTab + '"]').addClass("active");
        $('#myTabContent').children().removeClass('active show')
            $(activeTab).addClass('active show');
        }
    }); //sets the appropriate open tab

    $(function () {
        Galleria.loadTheme('/galleria/themes/twelve/galleria.twelve.js');
        Galleria.configure({
            imageCrop: true,
            lightbox: true,
            transition: 'fade',
            idleMode: false
        });
    }()); //loads galleria

    //Datatables
    basketTable.dataTable({
        ajax: {
            url: "/api/auctions/@Model.AuctionId/detailedBaskets",
            type: "GET",
            dataSrc: "",
            beforeSend: function (xhr) { //add token
                        var token = getCookie("BearerToken");
                        if (token != "")
                            xhr.setRequestHeader("Authorization", "Bearer " + token);
                    }
        },
        createdRow: function (row, data, dataIndex) {
            $(row).attr("id", "basketRow-" + data["basketId"]);
            $(row).find(".data").attr("onclick", "viewBasket(" + data["basketId"] + ")");
            $(row).css("cursor", "pointer");
        },
        responsive: true,
        columns: [
            {
                className: 'details-control',
                orderable: false,
                defaultContent: "",
                data: null,
                targets: 0,
                responsivePriority: 2
            },
            {
                className: 'data',
                data: "basketTitle",
                responsivePriority: 1
            },
            {
                defaultContent: "N/A",
                className: 'data',
                data: "winner.username",
                render: function (data, type, row) {
                        if (data == null)
                            return "N/A";
                        else
                            return data;
                    },
                responsivePriority: 3
            },
            {
                className: 'data',
                data: "tickets",
                render: function (data, type, row) {
                        var sum = 0;
                        data.forEach(function (ticketModel) { sum += ticketModel.numTickets })
                    return sum;
                    },
                responsivePriority: 4
            },
            {
                className: 'data',
                data: "status",
                render: function (data, type, row) {
                    if (data == "Disputed")
                        return `<span style="color:red">${data}</span>`;
                    else
                        return data;
                },
                responsivePriority: 2
            }
        ]
    });

    function drawAuction() {
        $("#PageLoadingModal").css("display", "flex");
        $.ajax({
                        url: "/api/auctions/@Model.AuctionId/draw",
            method: "post",
            beforeSend: function (xhr) { //add token
                                var token = getCookie("BearerToken");
                                if (token != "")
                                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                            },
            success: function (data) {
                                basketTable.DataTable().ajax.reload(null, false); //reload table
                $("#PageLoadingModal").css("display", "none");
                $("#drawAuctionButton").remove(); //hide draw button
                            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //HANDLE DRAW ERROR
                $("#error-alert p").html(XMLHttpRequest.responseText);
                $("#error-alert p").css("display", "block");
                $("#PageLoadingModal").css("display", "none");
                            }
                        });
                    }

                    //CHART SCRIPT HERE

                    var salesData;
                    function loadChart() {
                        var ctx = $('#salesChart');

                        var startDate = new Date(Date.parse("@Model.StartTime.Date"));
                        var endDate = new Date(Date.parse("@Model.EndTime.Date"));
        $.ajax({
                        url: "/api/data/auction/@Model.AuctionId",
            beforeSend: function (xhr) { //add token
                                var token = getCookie("BearerToken");
                                if (token != "")
                                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                            },
            success: function (data) {
                                salesData = data;
                                var data = [];

                for (var key in salesData) {
                                    data.push({
                                    x: key,
                        y: salesData[key]["amount"] / 100 //in cents
                    });
                                }

                                let chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                                datasets: [{
                                    label: 'Sales',
                            backgroundColor: 'rgba(210, 235, 245, 1)',
                            data: data
                                }],
                    },
                    options: {
                                maintainAspectRatio: false,
                        tooltips: {
                                    callbacks: {
                                        label: function (tooltipObj, data) {
                                                var sales = tooltipObj.value;
                                                var label = "$" + parseInt(sales).toFixed(2);
                                                return label;
                                            },
                                title: function (tooltipObjs, data) {
                                                var date = tooltipObjs[0].label;
                                                date = moment(date).format("MM/DD/YYYY");
                                                return date;
                                            }
                                        }
                                    },
                        lengend: {
                                    display: false
                        },
                        title: {
                                    display: true,
                            fontSize: 20,
                            text: "Ticket Sales"
                        },
                        responsive: true,
                        scales: {
                                    yAxes: [{
                                        ticks: {
                                            Min: 0,
                                    callback: function (value, index, values) {
                                                    return "$" + parseInt(value).toFixed(2);
                                                }
                                            },
                                scaleLabel: {
                                            display: true,
                                    labelString: "Sales (USD)"
                                }
                                        }],
                            xAxes: [{
                                        type: 'time',
                                distribution: 'linear',
                                time: {
                                            unit: 'day'
                                }
                                        }]
                        }
                                }
                            });

                            var tableData = [];
                            for (var day of Object.values(salesData)) {
                                for (var transaction of day["breakdown"]) {
                                    tableData.push(transaction);
                                }
                            }
                            var tableContainer = $("#salesTable");
                            tableContainer.DataTable({
                            data: tableData,
                    responsive: {
                                details: {
                                    type: 'column'
                                }
                                },
                    columns: [
                                    {
                                searchable: false,
                            targets: 0,
                            className: 'control',
                            orderable: false,
                            defaultContent: "",
                            data: null
                        },
                        {
                                data: "time",
                            render: function (data, type, row) {
                                        return moment(data).format("MM/DD hh:mm");
                                    },
                            responsivePriority: 2
                        },
                        {
                                data: "amount",
                            render: function (data, type, row) {
                                return `$${(data / 100.00).toFixed(2)} <span style="font-size: 70%">(-$${(row.fee / 100).toFixed(2)} fee)</span>`;
                                    },
                            responsivePriority: 1
                        },
                        {
                                data: "username",
                            responsivePriority: 3
                        }
                    ]
                });
                        },
            error: function (xhr) {
                            ctx.html(xhr.responseText);
                        }
                    });

    }

    function viewBasket(basketId) {
                        var baskets = $("#basketTable").DataTable().data()
        var basket;
                        for (var i = 0; i < baskets.length; i++) { //find basket data
                            if (baskets[i].basketId == basketId) {
                                basket = baskets[i];
                                break;
                            }
                        }

                        if (basket == null) //basket not found
                            return;


                        var html = `<div class="card mb-3 basketCard" style="border-radius: 30px" data-id="` + basket["basketId"] + `" data-loaded="false">\
                    <h3 class="card-header" style="font-size:114%">`+ basket["basketTitle"]
            html += `</h3>\
                <div style="height:300px; overflow:hidden;z-index:2">\
                    <div id="gallery-`+ basket["basketId"] + `" class="galleria basketCardImages" style="z-index:1;background-color:rgba(0, 0, 0, 0.00); height:300px; width:inherit">`;
                        //ADD PHOTOS
                        basket["photos"].forEach(function(photo){
                        html += `<img src="` + photo["url"] + `" />`;
                    });
                    html += `</div>\
                    <div id="basket-`+ basket["basketId"] + `-details" style="opacity:0; display:none; height:270px; overflow-y:auto;">\
                        <div class="modalHeader">Description:</div>
                        <div class="basketDesc" style="text-align:center;">\
                            `+ basket["basketDescription"] + `\
                        </div>\
                        <div class="modalHeader">Contents:</div>
                        <table class="basketContents table">\
                            <tbody style="display:flex; justify-content:center; flex-wrap: wrap;">`;
                        //add contents
                        basket["basketContents"].forEach(function (element) {
                        html += "<tr style='flex-basis: 50%; display:flex; justify-content:center' class='table-light'>"; //build list
                        html += "<td style='padding: unset;'>" + element + "</td>";
                        html += "</tr>";
                    });

                        html +=
                            `</tbody>\
                        </table>\
                    </div>\
                </div>\
                <div class="basketButtons" style="display:flex; margin-top:-30px; z-index:2">`;
            html += `<button class="btn btn-primary viewDetails" style="flex:1;">Details</button>\
                </div>\
            </div>`
        $("#basketDetailsModal").html(html);
        $("#basketDetailsModal").css("display", "flex");
                    Galleria.run("#basketDetailsModal .galleria");
        }

    $(loadChart);

    $("#basketDetailsModal").on("click", function (e) {
                        if ($(e.target).hasClass("card"))
            e.stopPropagation();
        else if ($(e.target).attr("id") == "basketDetailsModal")
            $(e.target).css("display", "none");
                    })

    $(document).on("click", ".viewDetails", function (e) {
                        var card = $(this).closest(".basketCard");
                        var gallery = card.find(".galleria");
                        var desc = card.find("[id$=-details]");
                        if (gallery.position().top == 0) //when galleria is collapsed. open galleria
                        {
                            desc.animate({
                            opacity: 0
                            }, 500, function () {
                                desc.css("display", "none");
                                gallery.css("display", "block");
                                gallery.data('galleria').resize(); //if page was resized while not displaying, the gallery is invisible
                                gallery.animate({ opacity: 1 }, 500);
                                card.find(".viewDetails").html("Details");
                            });
                        }
                        else { //when galleria is open
                            gallery.animate({
                            opacity: 0
                            }, 500, function () {
                                gallery.css("display", "none");
                                desc.css("display", "block");
                                desc.animate({ opacity: 1 }, 500);
                                card.find(".viewDetails").html("Images");
                            });
                        }
                    });

    $(function () {
        $(document).on("click", ".toggleBasketInfo", function (e) {
            $(this).closest("tr").find(".basketPersonInfo").toggle();
                    });
    });

    function basketInfoFormat(basket, roundBottom) {
                        // `d` is the original data object for the row
                        var html = `<div style="display: flex; justify-content: center; align-items:stretch; flex-wrap: wrap">`;
                        if (basket.winner != null) {
                            var winner = basket.winner;
                            html += `<div class="basketPersonInfo ${roundBottom? `round` : ``}">\
                            <div class="basketInfoHeader">Winner Info${basket.submittingUser != null? `<span class="toggleBasketInfo" style="font-size: 50%; padding-left: 10px; cursor: pointer; user-select: none">[Submitter Info]</span>` : ``}</div>\
                           <div style="display: table; width: " class="BasketInfoTable">\
                                <div style="display: table-row">\
                                    <div style="display: table-cell">Full name:</div>\
                                    <div style="display: table-cell">${winner.firstName} ${winner.lastName}</div>\
                                </div>\
                                <div style="display: table-row">\
                                    <div style="display: table-cell">Email:</div>\
                                    <div style="display: table-cell">${winner.email}</div>\
                                </div>\
                            ${winner.address != null ? `<div style="display: table-row">\
                                <div style="display: table-cell">Address:</div>\
                                <div style="display: table-cell">${winner.address} ${winner.city}, ${winner.zip} ${winner.state}</div>\
                            </div>`: ``}
                        </div>\
                    </div>`;
        }
        if (basket.submittingUser != null) {
            var submitter = basket.submittingUser;
            if (submitter.firstName == "")
                submitter.firstName = "You"; //for orgs
            html += `<div class="basketPersonInfo ${roundBottom ? `round` : ``}" ${basket.winner != null? `style="display: none"`: ``}>\
                        <div class="basketInfoHeader">Submitter Info${basket.winner != null ? `<span class="toggleBasketInfo" style="font-size: 50%; padding-left: 10px; cursor: pointer; user-select: none">[Winner Info]</span>` : ``}</div>\
                        <div style="display: table; width: " class="BasketInfoTable">\
                            <div style="display: table-row">\
                                <div style="display: table-cell">Full name:</div>\
                                <div style="display: table-cell">${submitter.firstName} ${submitter.lastName}</div>\
                            </div>\
                            <div style="display: table-row">\
                                <div style="display: table-cell">Email:</div>\
                                <div style="display: table-cell">${submitter.email}</div>\
                            </div>\
                            ${submitter.address != null ? `<div style="display: table-row">\
                                <div style="display: table-cell">Address:</div>\
                                <div style="display: table-cell">${submitter.address} ${submitter.city}, ${submitter.zip} ${submitter.state}</div>\
                            </div>`: ``}
                        </div>\
                    </div>`;
        }
        html += "</div>";
        return html;
    }

    $('#basketTable tbody').on('click', 'td.details-control', function () {
        var tr = $(this).parent('tr');
        var row = basketTable.DataTable().row(tr);
        var basket = row.data();

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child(basketInfoFormat(row.data(), basket.winner == null) + `<div id="basketTrackingContainer`+ basket.basketId+`"></div>`).show();
            tr.addClass('shown');
            row.child().css("background-color", "white") //no hover coloring
            if (basket.winner != null) {
                var tracker = new Tracker(basket.basketId, "Bearer " + getCookie("BearerToken"), "#basketTrackingContainer" + basket.basketId);
                tracker.buildTracker();
            }
        }
    });

    window.history.replaceState(null, "", '/auctions/editAuction/@Model.AuctionId'); //always keeps URL functioning
</script>



