@model AuctionModel
@{
    ViewData["Title"] = "Create Auction";
}


<script src="~/js/moment-with-locales.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div id="accountSettings">
    <div id="accountSettingContainer">
        @using (Html.BeginForm("createAuction", "auctions", FormMethod.Post, new { @id = "auctionInfoForm", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
        <fieldset>
            <legend>Auction Information</legend>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Title)
                @Html.TextBoxFor(Model => Model.Title, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.Title)
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Description)
                @Html.TextAreaFor(Model => Model.Description, 5, 50, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.Description)
            </div>
            <div class="form-group">
                @Html.Label("Auction Date Range")
                <input type="text" id="dateRangePicker" name="datetimes" class="form-control" />
                @Html.HiddenFor(Model => Model.StartTime)
                @Html.HiddenFor(Model => Model.EndTime)
                @Html.ValidationMessageFor(Model => Model.StartTime)
                @Html.ValidationMessageFor(Model => Model.EndTime)
            </div>
            <legend>Where Will You Be Hosting From?</legend>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Address)
                @Html.TextBoxFor(Model => Model.Address, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.Address)
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.City)
                @Html.TextBoxFor(Model => Model.City, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.City)
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.State)
                @Html.TextBoxFor(Model => Model.State, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.State)
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.ZIP)
                @Html.TextBoxFor(Model => Model.ZIP, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.ZIP)
            </div>
            @Html.HiddenFor(Model => Model.HostUsername)
            <label style="color:red;" id="addressValidationResult"></label>
            <iframe id="userAddressMap" src="@baskifyCore.Utilities.accountUtils.getMapLink(Model.Address, Model.City, Model.State, Model.ZIP)"></iframe>
            <label for="exampleInputFile">Upload a Banner Picture</label>
            <div class="form-group">
                @Html.TextBoxFor(Model => Model.BannerImage, new { @type = "file", @class="form-control-file", @id="inputBannerFile"})
                <small id="fileHelp" class="form-text text-muted">Upload an image that encapsulates your goal! Recommended: 300px x 1000px</small>
            </div>
            <div style="display: flex;">
                <button id="submitButton" type="submit" class="btn btn-success btn-lg btn-block">Create Auction</button>
            </div>
        </fieldset>
        }

    </div>
</div>
<script>
    $(function () {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            startDate: "@Model.StartTime",
            endDate: "@Model.EndTime",
            locale: {
                format: 'MM/DD/YYYY hh:mm:ss A'
            },
            dateLimit: {
                'months': 1,
                'days': -1
            }
        });

        //updates the address field with validation info
        $("#Address,#City,#State,#ZIP").on("blur", function () {
            if ($("#Address").val() == "" || $("#City").val() == "" || $("#State").val() == "" || $("#ZIP").val() == "") {
                return
            }

            $.post("/account/validateAddress",
                {
                    Address: $("#Address").val(),
                    City: $("#City").val(),
                    State: $("#State").val(),
                    ZIP: $("#ZIP").val()
                },
                function (data) {
                    var dataObject = JSON.parse(data);
                    if (dataObject["resultStatus"] != "ADDRESS NOT FOUND") {
                        $("#Address").val(dataObject["addressLine1"]);
                        $("#City").val(dataObject["city"]);
                        $("#State").val(dataObject["state"]);
                        $("#ZIP").val(dataObject["zip"]);
                        $("#userAddressMap").prop("src", dataObject["GoogleMapUrl"]);
                        $("#addressValidationResult").html("");
                    }
                    else {
                        $("#addressValidationResult").html("Address Not Found!");
                    }
            });
        });

    });

    $("#dateRangePicker").on("change", function (e) {
        $("#StartTime").val($("#dateRangePicker").val().split(" - ")[0]);
        $("#EndTime").val($("#dateRangePicker").val().split(" - ")[1]);
    });
    window.history.pushState("", "", '/auctions/createauction');
</script>

