@model UserModel

@{
    ViewData["Title"] = "Your Auctions";
    int itemsPerPage = (int)(ViewData["itemsPerPage"] ?? 10);
    int page = (int)(ViewData["page"] ?? 1);
    int numPages = (int)Math.Ceiling(Model.Auctions.Count / (double)itemsPerPage);
    int firstPage = page - 2 < 1 ? 1 : page - 2;
}

<div id="AuctionListHeader" style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
    <div style="display:flex; justify-content:center; flex-wrap:wrap"><h2 class="display-4">Your&nbsp;</h2><h2 class="display-4">Auctions</h2></div>
</div>
<div id="AuctionListContainer">
    <div style="display:flex; align-items:flex-end;">
        @if (numPages > 1)
        {
        <ul class="pagination" style="margin:0;">
            <li class="page-item
            @if (page == 1){ <text>disabled</text> } ">
                <a class="page-link" href="/auctions?page=1">&laquo;</a>
            </li>

            @for (int i = 0; i <= 4; i++)
            {
                <li class="page-item @((page == firstPage + i) ? "active" : null)">
                    <a class="page-link" href="/auctions?page=@(firstPage + i)">@(firstPage + i)</a>
                </li>

                if (numPages < firstPage + i + 1)//this means that we reached the max page
                {
                    break;
                }
            }

            <li class="page-item @if (page == numPages) { <text>disabled</text> }">
                <a class="page-link" href="/auctions?page=@numPages">&raquo;</a>
            </li>
        </ul>
        }
        <button style="right:0; margin-left:auto; display:flex;" type="button" onclick="redirect('/auctions/createauction')" class="btn btn-success">Create New Auction</button>
    </div>
    @{Model.Auctions = Model.Auctions.OrderBy(m => m.StartTime - DateTime.UtcNow).OrderByDescending(m => m.isLive).OrderBy(m => m.EndTime < DateTime.UtcNow).ToList(); }

    @for(int i = (page-1)*itemsPerPage; i < page*itemsPerPage; i++)
    {
        if(i >= Model.Auctions.Count)
        {
            break;
        }
        <div class="list-group">
            <a @if (Model.Auctions.ElementAt(i).EndTime > DateTime.UtcNow) { <text> href="/auctions/editAuction/@Model.Auctions.ElementAt(i).AuctionId" </text> } class="list-group-item list-group-item-action flex-column align-items-start">
                @if (!String.IsNullOrWhiteSpace(Model.Auctions.ElementAt(i).BannerImageUrl))
                {
                    <img src="@Model.Auctions.ElementAt(i).BannerImageUrl" style="width:100%; height:auto;" />
                }
                <div class="d-flex w-100 justify-content-between" style="margin-top: 5px;">
                    <h5 class="mb-1">@Model.Auctions.ElementAt(i).Title</h5>
                    <small class="text-muted">
                        @if (Model.Auctions.ElementAt(i).StartTime > DateTime.UtcNow)
                        {<text>Starts in @((int)Math.Round((Model.Auctions.ElementAt(i).StartTime - DateTime.UtcNow).TotalDays)) Day(s)</text> }
                        else if (Model.Auctions.ElementAt(i).EndTime <= DateTime.UtcNow)
                        {<text>Ended</text>}
                        else
                        { <text>Live</text>}
                    </small>
                </div>
                <p class="mb-1">@Model.Auctions.ElementAt(i).Description</p>
                <small class="text-muted">@Model.Auctions.ElementAt(i).StartTime - @Model.Auctions.ElementAt(i).EndTime</small>
            </a>
        </div>
    }
</div>

